body {
    font-size:small
}

.error {
    color: red;
}

#results_list {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fill, 350px);
}

.observation {
  background-color: white;
  border: 1px solid gray;
  padding: 8;
  vertical-align: top;
}

.notes {
  display: inline-block;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
  padding-left: 0px;
}

.sketch img {
  max-width:100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sketch {
  vertical-align:top;
  height: 250;
  display: block;
  object-fit: scale-down;
}

.objname {
    font-weight: bold;
}

body {
  color: black;
  background-color: white;
  font-family: Baskerville, Times, serif;
}
