body {
  font-size:small;
  color: black;
  background-color: #dde3ea;
  font-family: Baskerville, Times, serif;
}

.header {
    display: none;
}

.header h1 {
    display: none;
}

.queryheader {
  font-weight: bold;
}

.formgroup {
    display: block;
}

.formgroup label { display:inline-block; width: 40px; }

.formgroup input { display:inline-block; width: 110px; }


.sidebar {
  display: none; 
}

.query {
  display: none;
}

.results {
  display: none;
}

.error {
    color: red;
}

#results_list {
}

.observation {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8;
  vertical-align: top;
  margin: 3;
  width: 335;
  display: inline-block;
}

.notes {
  display: inline-block;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
  padding-left: 0px;
}

.sketch img {
  max-width:100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sketch {
  vertical-align:top;
  height: 250;
  display: block;
  object-fit: scale-down;
}

.objname {
    font-weight: bold;
}
