body {
  font-size:small;
  color: black;
  background-color: #dde3ea;
  /*font-family: Baskerville, Times, serif;*/
  font-family:Optima, sans-serif;
}

#header {
  position: fixed;
  z-index: 1;
  left:0;
  right:0;
  top:0;
  /*height: 100px;*/
}

#header h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0;
  background-color: #dde3ea;
  overflow-x: hidden;
  background-image: url('header100.jpg');
  background-size: auto 80px;
  background-repeat: repeat no-repeat;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}

.queryheader {
  font-weight: bold;
}

.formgroup {
    display: block;
}

.formgroup label { display:inline-block; width: 40px; }

.formgroup input { display:inline-block; width: 110px; }

.listquery input { width: 110px; }

#results_objquery {
  position:fixed;
  top: 110px;
  left: 250px;
  right: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:scroll;
  padding: 10px;
}

#sidebar_objquery {
  height: 100%;
  position: fixed;
  top: 110px;
  left: 0;
  background-color: #c2cad6;
  overflow-x: hidden;
  display: table;
  padding: 10px;
}

.query {
  padding: 10px;
}

.results table {
  border-collapse: collapse;
  background-color: #dae2ed;
}

.results table td {
  border: 1px solid #bbb;
  padding: 8px;
}

.results table th {
  background-color: #91a4bb;
  font-weight: bold;
  border: 1px solid #bbb;
  padding: 8px;
}

.results tr:nth-child(even){background-color: #e9eff7;}


.error {
    color: red;
    font-size: medium;
    font-family: monospace;
}

.observation_result_grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, 350px);
}

.observation {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px;
  vertical-align: top;
}

.notes {
  display: inline-block;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
  padding-left: 0px;
}

.sketch img {
  max-width:100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sketch {
  height: 250px;
  display: block;
  object-fit: scale-down;
}

.objname {
    font-weight: bold;
}

.summary {
  margin-block-start: 0em;
}